/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



@media screen {
    @font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 300;
	src: local('Muli Light'), local('Muli-Light'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/_fUwxgthNvUM9WCtMyMvbA.woff') format('woff');
    }

    @font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/kU4XYdV4jtS72BIidPtqyw.woff') format('woff');
    }
}


/* Base Layout Styles */
.wrap{padding:10px;}
.main-content article{margin-bottom:10px;}
#content{padding-bottom:20px;}

/**
 * Look and feel base styles
 * =============================================================================
 */
 
/* Type + Colour */
body{font-size:75%; color:#fdfdfd; font-family:Muli, Arial, sans-serif;  background:#5f6567;}
.main-content article{color:#555;}
h1{font-size:3em; font-weight:bold;}
h2{font-size:1.8em;}
h3{}
h4{}
.date{text-transform:uppercase; font-size:0.8em; margin:0;}
p{line-height: 1.4em;}
a{text-decoration: none; color:#e1faee;}
.main-content article a{color:#416a56;}


/* Header */ 
.site-header{padding-top:10px;}
    .site-header .heading{color:#eee; border-bottom:2px solid #555; border-top:2px solid #555; padding:10px; margin:0 0 10px;}
    .site-header h1{text-transform: uppercase; text-shadow:0 1px 1px #333;}
    .site-header h2{margin:0;}
    .site-header h1 img{vertical-align:middle;}
    .site-header .logo{display:inline-block; vertical-align:top; width:64px; height:64px; background:url(/img/m/logo.png) 0 0 no-repeat;}


/* Navigation */
.nav-pri{}
    .nav-pri ul{text-align: center;}
    .nav-pri ul li{display:inline-block;}
    .nav-pri ul li a{padding:0.9em 0.5em 0.5em; background:#222; display:inline-block; color:#fff; font-weight:bold; text-transform: uppercase;}
    .nav-pri ul li a:hover,
    .nav-pri ul li a:focus{background:#06e;}
    body,
    .nav-pri ul li a{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    }


/* Articles */
.main-content article{background:#fff; padding:10px; }
    .main-content article header{border-bottom:1px solid #ccc; padding-bottom:0.8em;}
    .main-content article header h2{margin:0;}

/* Aside features */
.box{}
.box ul{padding-left:2em;}
.box ul h3{margin-bottom:4px;}

.box footer a{margin-left:2em; padding:0.3em 0.8em; background:#f27474;}

/* Tweets */

.twitter h2{background:url(/img/m/bird.png) 0 0 no-repeat; padding:10px 0 30px 60px; margin-bottom:-20px;}

.tweets{}
    .tweets li{position:relative; padding-left:10px; list-style:none; display:block; padding:10px 0;}
    .tweets li .date{display:block; text-align:right;}
    .tweets li:before{content:'“'; font-family:Georgia, serif; font-size:5em; display:block; color:#fff; position:absolute; left:-15px; opacity:.3; top:-0.2em;}
    .tweets li p{display:inline; position:relative;}
    .tweets li p:after{content:'”'; font-family:Georgia, serif; font-size:5em; display:block; color:#fff; position:absolute; right:-15px; opacity:.3; bottom:-0.3em;}



/* Footer */
.site-footer{ background:#5f6567; border-top:2px solid #ccc;}




/**
 * Narrow Screen Base layout, Everyone will get this
 * =============================================================================
 */
/* Header */
.site-header .heading{text-align: center; font-size:0.8em;}
.site-header h1{width:auto;}
.site-header .wrap{ padding:0 10px;}
.site-header .wrap h1{ margin:0;}

/* Navigation */
.nav-pri ul li{display:block; padding-bottom:2px;}
.nav-pri ul li a{display:block;}


/* Content */
/* Articles */
.main-content article footer a{display:block; background:#ddd; text-align:center; padding:0.5em 1em;}


/* Footer */
.site-footer {text-align:center;}



/**
 * Progressively add complexity to the layout as screen space becomes available
 * =============================================================================
 */

@media only screen and (min-width: 25em) {
    /* Horizontal Footer Links */
    .site-footer ul li{display:inline; padding:0 10px 0 4px; border-right:1px solid #ccc;}
    .site-footer ul li:last-child{border:none; padding-right:4px;}
}

@media only screen and (min-width: 30em) {
    /* 2 Row Nav */
    .nav-pri ul li{display:inline-block; width:49.6%;}
    /* Article button on the left */
    .main-content article footer a{display:inline-block; text-align:left;}

    .site-header .heading{text-align: center; font-size:1em;}

}

@media only screen and (min-width: 40em) {
    /* 1 Row Nav */
    .nav-pri ul li{display:inline-block; width:24.6%;}

    /* Left align header */
    .site-header .heading{text-align:left; overflow:hidden;}
	.site-header .logo{ float:left;}
	.site-header .heading h1,
	.site-header .heading h2{ padding-left:80px; width:80%;}
}

@media only screen and (min-width: 45em) {
    /* 2 Col Layout */
    .main-content{width:68%; float:left; margin-right:2%;}
    .page-aside{float:left; width:29%;}
    #content{overflow:hidden;}
    /* Bigger heading */
    .site-header .heading{font-size:1.3em;}
}

@media only screen and (min-width: 970px) {
    /* Fixed width 960 */
    .wrap{width:960px; margin:0 auto;}
}

/**
 * High Res images for high pixel density devices
 * =============================================================================
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    
    .twitter h2{-webkit-background-size: 60px 68px; background-image:url(/img/m/bird@2x.png);}
    /* Overrides with Highres images */
    .site-header .logo{-webkit-background-size: 64px 64px; background-image:url(/img/m/logo@2x.png);}
}


/**
 * Non-Semantic Helpers
 * =============================================================================
 */
 
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } 
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
